#{
 {:title "\"My first experience with edn. A format for data exchange.\""
   :created-on "#inst \"2015-05-05T21:56:00Z\""
   :created-by "#wareblog/author {:given-name \"Matthias\" :name \"Sattel\"}"
   :abstract "#wareblog/abstract [\"This is the very first time that I am using \" #wareblog/abbreviation :edn \". In normal situation I would simply use an existing solution for markup of a blog, because there are already good solutions out there, e.g. \" #wareblog/abbreviation :md \". But in this case I want to learn new stuff and thus I will reinvent the wheel.\"]"
   :content "#wareblog/content [#wareblog/paragraph [\"Starting with something new is exciting, but can turn soon into frustration. Let's see how it works with \" #wareblog/abbreviation :edn]
   #wareblog/paragraph [\"The goal of my little project is to use \" #wareblog/abbreviation :edn \" for markup. I will use it to store articles and then render it to html using custom edn-readers.\"]]"},

 {:title "\"This is my first tutorial about clojure.\""
             :created-on "#inst \"2015-07-27T00:00:00Z\""
             :created-by "#wareblog/author {:given-name \"Matthias\" :name \"Sattel\"}"
             :abstract "#wareblog/abstract [\"I started to use Clojure in 2014. It was interesting to use what other programming languages exist out there and what are the concepts behind it. For my company I did a lot of java programming and clojure can be executed on the jvm, you have access to all java libraries and it is pretty easy to interop with the Java ecosystem. That caught my attention...\"]"
             :content "#wareblog/content [#wareblog/paragraph [\"Clojure is somehow a natural development after developers have spent years writing java boilerplate code, creating new frameworks that deal with all the problems of the java language and its pitfalls ...\"]]"
           }
}
